body {
    background-color: black;
}

.creation{
    margin: auto;
    width: 40%;
    text-align: center;
    size: 50%;
    background-image: linear-gradient(#414141, #242424);
}

.general {

}

.attributes{

}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    border-bottom: 3px solid darkgrey;
    background: none;
}